# Python
__pycache__/
*.pyc

# Airflow
logs/
*.log

# Data outputs
data/
*.json
*.jsonl

# Env / secrets
.env

# OS
.DS_Store

# Docker
*.pid

#Snowflake
snowsql-installer.bash

# Snowflake / authentication
*.p8
*.pem
*.key


# Local database backups
/backups/
